In [30]:
import streamlit as st
import pandas as pd
import numpy as np

st.title('Gapminder')
st.write("Unlocking Lifetimes: Visualizing Progress in Longevity and Poverty Eradication")

# Transform the data

pop = pd.read_csv('pop.csv')
gni = pd.read_csv('ny_gnp_pcap_pp_cd.csv')
life = pd.read_csv('lex.csv')

# Fill in missing rows

gni = gni.ffill()
gni = gni.ffill(axis=1)
pop = pop.ffill()
pop = pop.ffill(axis=1)
life = life.ffill()
life = life.ffill(axis=1)

# Converting df from wide to long format

gni = pd.melt(gni, id_vars=['country'], var_name='year', value_name='gni')
pop = pd.melt(pop, id_vars=['country'], var_name='year', value_name='population')
life = pd.melt(life, id_vars=['country'], var_name='year', value_name='life_expectancy')

# Converting year column to numeric
gni['year'] = pd.to_numeric(gni['year'], errors='coerce')
pop['year'] = pd.to_numeric(pop['year'], errors='coerce')
life['year'] = pd.to_numeric(life['year'], errors='coerce')

2024-05-18 10:48:42.294
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/muhammadraza/Library/Python/3.10/lib/python/site-packages/ipykernel_launcher.py [ARGUMENTS]

In [36]:
gni.dtypes

country    object
year        int64
gni        object
dtype: object

In [37]:
# Merging together

df = pd.merge(gni, pop, on=['country', 'year'])

df = pd.merge(df, life, on=['country', 'year'])


# Function to clean and convert GNI values

def clean_gni(value):
    if isinstance(value, str):
        value = value.replace(',', '').replace('k', '000')
    try:
        return float(value)
    except ValueError:
        return np.nan
    
# Clean and preprocess the data

df['gni'] = df['gni'].apply(clean_gni)

# Apply the logarithmic transformation

df['gni'] = np.log(df['gni'])

In [38]:
df.dtypes

country             object
year                 int64
gni                float64
population          object
life_expectancy     object
dtype: object

In [26]:
pop = pd.read_csv('pop.csv')
gni = pd.read_csv('ny_gnp_pcap_pp_cd.csv')
life = pd.read_csv('lex.csv')

# Fill in missing rows

gni = gni.ffill()
gni = gni.ffill(axis=1)
pop = pop.ffill()
pop = pop.ffill(axis=1)
life = life.ffill()
life = life.ffill(axis=1)

In [27]:
gni.head()

,country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,20.5k,22.2k,23.2k,24.6k,26.3k,26.9k,26.8k,28.3k,28.6k,...,34.7k,35.5k,35.8k,35.9k,36.7k,39k,40.6k,34.1k,41.6k,41.6k
1,Afghanistan,20.5k,22.2k,23.2k,24.6k,26.3k,26.9k,26.8k,28.3k,28.6k,...,2070,2110,2150,2040,2120,2130,2200,2100,1690,1690
2,Angola,3000,3320,1630,1500,1260,2350,2420,2830,2820,...,7090,7630,6900,6660,6770,6500,6260,5800,5990,6450
3,Albania,2550,1880,1740,2110,2300,2710,3050,2780,3110,...,10.8k,11.4k,11.8k,12.3k,12.8k,13.5k,14.2k,13.8k,15.3k,18.2k
4,UAE,2550,1880,1740,2110,2300,2710,3050,2780,3110,...,76k,79k,70k,69.2k,71.7k,73.5k,75.2k,71.1k,76.8k,87.3k

In [28]:
gni = pd.melt(gni, id_vars=['country'], var_name='year', value_name='gni')
pop = pd.melt(pop, id_vars=['country'], var_name='year', value_name='population')
life = pd.melt(life, id_vars=['country'], var_name='year', value_name='life_expectancy')

In [29]:
gni['log_gni'] = np.log2(gni['gni'])

TypeError: loop of ufunc does not support argument 0 of type str which has no callable log2 method